extends layout

block content
  h1= title
  p Welcome to #{title} interface
  p Runing on port <strong>#{port}</strong> in <strong>#{mode}</strong> mode
  p Find here the different commands available:

  div.commands
    div.auth
      a(href='/auth') /auth
      ul
        li GET (Requires a token)

    div.authregister
      a(href='/auth/register') /auth/register
      ul
        li POST

    div.authlogin
      a(href='/auth/login') /auth/login
      ul
        li POST (Requires a username and password)

    div.users
      a(href='/users') /users
      ul
        li GET
      a(href='/users/:id') /users/:id
      ul
        li GET (Requires a token)

    div.groups
      a(href='/groups') /groups
      ul
        li GET
        li POST
      a(href='/groups/:id') /groups/:id
      ul
        li PUT
        li DELETE

    div.parliament
      a(href='/parliaments') /parliaments
      ul
        li GET
        li POST
      a(href='/parliaments/:id') /parliaments/:id
      ul
        li PUT
        li DELETE

    div.debates
      a(href='/debates') /debates
      ul
        li GET
        li POST
      a(href='/debates/:id') /debates/:id
      ul
        li PUT
        li DELETE

    div.timers
      a(href='/timers') /timers
      ul
        li POST
      a(href='/timers/:id') /timers/:id
      ul
        li GET
        li DELETE

    div.image
      a(href='files/image/:id') files/image/:id
      ul
        li GET (Requires a token)

    div.end
      h3= 'Client IP'
      div.end
        p The IP of the client is <strong>#{ip}</strong>

    footer(style='color: gray; padding-top: 50px;')
      p Developed by Pablo
      p Seville 2024